// Colors
$colors: (
    'main': #FFF,
    'secondary': #333,
    'general': #28A745,
    'hover': #2EBF4F,
    'post': #0284D0,
    'neutral': #808080,
);

$hoverBackgroundColor: #0284D080;

// Resolution points
$toMobile: 319px;
$mobile: 320px;
$toTablet: 767px;
$tablet: 768px;
$toDesktop: 1359px;
$desktop: 1360px;