// Colors
$colors: (
    'main': #FFF,
    'primary': #F4F4F4,
    'secondary': #333,
    'input': #808080,
    'general': #28A745,
    'hover': #2EBF4F,
    'post': #0284D0,
    'neutral': #808080,
    'backdrop': #040404,
);

$hoverBackgroundColor: #0284D080; // 50%
$backdropColor: #04040480; // 50%
$boxShadow: #00000040; //25%

// Resolution points
$toMobile: 319px;
$mobile: 320px;
$toTablet: 767px;
$tablet: 768px;
$toDesktop: 1359px;
$desktop: 1360px;