// Colors
$colors: (
    'main': #FFF,
    'primary': #F4F4F4,
    'secondary': #333,
    'input': #808080,
    'general': #28A745,
    'hover': #2EBF4F,
    'post': #0284D0,
    'neutral': #808080,
    'backdrop': #040404,
    'warning': #eb5757,

    // shadows
    'hover-navigation': #0284D080, // #0284D0[80] - opacity 50%
    'backdrop-color': #04040480, // #040404[80] - opacity 50%
    'box-shadow': #00000040, // #000000[40] - opacity 25%
);

// Resolution points
$mobile: 320px;
$tablet: 768px;
$desktop: 1360px;