@import '../../sass/utils/variables';
@import '../../sass/utils/functions';
@import '../../sass/utils/mixins';

.wrraper {
    padding: 72px 0 50px;
    color: getColor('secondary');
    text-align: center;

    @media screen and (min-width: $tablet) {
        padding: 50px 0 40px;
    }

    @media screen and (min-width: $desktop) {
        padding: 80px 0 88px;
    }
}

.title {
    @include font(32px, 44px);

    @media screen and (min-width: $tablet) {
        @include font(40px, 54px);
    }

    @media screen and (min-width: $desktop) {
        @include font(40px, 48px);
    }
}

.subTitle {
    margin-bottom: 16px;
    display: block;
    @include font();

    @media screen and (min-width: $tablet) {
        @include font(18px, 25px);
    }

    @media screen and (min-width: $desktop) {
        @include font(18px, 33px);
    }
}

.text {
    margin-top: 24px;

    @media screen and (min-width: $tablet) {
        @include font(18px, 25px);
    }
}

.gallery {
    margin-top: 63px;
    display: grid;
    row-gap: 30px;

    @media screen and (min-width: $tablet) {
        margin-top: 24px;
        grid-template-columns: repeat(3, auto);
        row-gap: 0;
        justify-content: space-between;
    }

    @media screen and (min-width: $desktop) {
        margin-top: 36px;
    }
}

.item {
    display: block;
    width: 280px;

    @media screen and (min-width: $tablet) {
        width: 223px;
    }

    @media screen and (min-width: $desktop) {
        width: 420px;
    }
}

.image {
    position: relative;
    @include transition-effect(box-shadow transform);
    cursor: pointer;

    &:hover, 
    &:focus {
        transform: scale(1.01);
        box-shadow:
            1px 1px 5px getColor('backdrop-color'),
            -1px 1px 5px getColor('backdrop-color'),
            1px -1px 5px getColor('backdrop-color'),
            -1px -1px 5px getColor('backdrop-color'),
            4px 4px 10px getColor('box-shadow'),
            -4px 4px 10px getColor('box-shadow'),
            4px -4px 10px getColor('box-shadow'),
            -4px -4px 10px getColor('box-shadow');
    }

    &>div {
        opacity: 0;
    }

    &:hover>div,
    &:focus>div {
        opacity: 1;
    }
}

.backdropTeam {
    position: absolute;
    width: 100%;
}

.name {
    margin-top: 16px;
    @include font(20px, 27px);

    @media screen and (min-width: $tablet) {
        margin-top: 18px;
        @include font(32px, 32px);
    }

    @media screen and (min-width: $desktop) {
        margin-top: 14px;
    }
}

.position {
    margin-top: 8%;

    @media screen and (min-width: $tablet) {
        @include font(18px, 25px);
    }
}