@import '../../sass/utils/variables';
@import '../../sass/utils/functions';
@import '../../sass/utils/mixins';

.contact {
    background-color: getColor('primary');
    overflow: hidden;
}

.wrraper {
    position: relative;

    @media screen and (min-width: $tablet) {
        display: grid;
        grid-template-columns: 1fr calc(400px - 32px);
        padding: 0;
    }

    @media screen and (min-width: $desktop) {
        grid-template-columns: 1fr calc(690px - 28px);
    }
}


.imageBox {
    display: block;
    height: 100%;
    width: 100vw;
    margin-left: calc((100vw - $mobile) / 2 - 20px);

    @media screen and (min-width: calc($mobile + 1px)) {
        margin-left: calc((100vw - $mobile) / 2 - 20px - (100vw - $mobile));
    }

    @media screen and (min-width: $tablet) {
        position: absolute;
        margin-left: 0;
        width: auto;
        top: 0;
        left: calc(-100vw + $tablet - 32px + (100vw - $tablet) / 2);
        right: calc(400px - 32px);
        bottom: 0;
    }

    @media screen and (min-width: $desktop) {
        left: calc(-100vw + $desktop - 28px + (100vw - $desktop) / 2);
        right: calc(690px - 28px);
    }
}

.image {
    height: 100%;
    object-fit: cover;
}

.info {
    padding: 51px 0 25px;
    
    @media screen and (min-width: $tablet) {
        margin-left: calc(400px - 32px * 2);
        width: calc(400px - 32px);
        padding: 32px 0 62px 33px;
    }

    @media screen and (min-width: $desktop) {
        margin-left: calc(690px - 28px - 20px);
        width: calc(690px - 28px);
        padding: 56px 0 77px 20px;
    }
}

.title {
    @include font(32px, 44px);
    color: getColor('secondary');

    @media screen and (min-width: $tablet) {
        @include font(40px, 48px);
    }
}

.form {
    margin-top: 69px;

    @media screen and (min-width: $tablet) {
        // margin-top: 24px;
    }

    @media screen and (min-width: $desktop) {
        // margin-top: 31px;
    }
}

.label {
    position: relative;
    display: block;
    color: getColor('input');
    @include font(16px, 23px);

    @media screen and (min-width: $tablet) {
        @include font(18px, 25px);
    }
}

.label + .label {
    margin-top: 25px;
    // margin-top: 16px;

    // & input:not(:placeholder-shown) + .text {
    //     transform: translateY(-203%);
        
    //     @media screen and (min-width: $tablet) {
    //         transform: translateY(-215%);
    //     }
    // }

    // & input:focus + .text {
    //     transform: translateY(-203%);

    //     @media screen and (min-width: $tablet) {
    //         transform: translateY(-215%);
    //     }
    // }

    // @media screen and (min-width: $tablet) {
    //     margin-top: 25px;
    // }
}

.input {
    display: block;
    width: 100%;
    padding: 16px 8px;
    border: 0;
    border-radius: 5px;
    @include font(16px, 23px);
    color: getColor('secondary');
    // background-color: getColor('main') !important;
    // outline: transparent;

    // &:not(:placeholder-shown) ~ .warning {
    //     visibility: hidden;
    // }

    &:focus + .text {
        // transform: translateY(-220%);
        transform: translateY(-52px);

        @media screen and (min-width: $tablet) {
            // transform: translateY(-215%);
            transform: translateY(-55px);
        }
    }

    &:not(:placeholder-shown):invalid ~ .invalid {
        opacity: 1;
    }

    &:not(:placeholder-shown) + .text {
        // transform: translateY(-220%);
        transform: translateY(-52px);

        @media screen and (min-width: $tablet) {
            // transform: translateY(-215%);
            transform: translateY(-55px);
        }
    }

    @media screen and (min-width: $tablet) {
        @include font(18px, 25px);
    }
}

.text {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    @include transition-effect(transform);
}

.required {
    color: getColor('warning');
}

.warning {
    display: block;
    position: absolute;
    left: 0;
    bottom: -23px;
    opacity: 0;
    @include font(16px, 23px);
    color: getColor('warning');
    @include transition-effect(opacity);

    // .input:focus ~ & {
    //     opacity: 0;
    // }

    @media screen and (min-width: $tablet) {
        bottom: -24px;
        @include font(18px, 25px);
    }
}

.warningIcon {
    width: 13px;
    height: 12px;
    margin: 0 8px;
}

.invalid {
    display: block;
    position: absolute;
    left: 0;
    bottom: -23px;
    opacity: 0;
    @include font(16px, 23px);
    color: getColor('warning');
    @include transition-effect(opacity);

    @media screen and (min-width: $tablet) {
        bottom: -24px;
        @include font(18px, 25px);
    }
}

.buttonContactForm {
    margin-top: 24px;
    padding: 16px 56px;
    @include font();

    @media screen and (min-width: $tablet) {
        @include font(18px, 25px);
    }
}

// .noScroll {
//     position: absolute;
//     background-color: transparent;
//     z-index: 10;
// }