@import '../../sass/utils/variables';
@import '../../sass/utils/functions';
@import '../../sass/utils/mixins';

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: getColor('backdrop-color');
    display: flex;
    align-items: center;
    justify-content: center;
    @include transition-effect(opacity);
}