@import '../../sass/utils/variables';
@import '../../sass/utils/functions';
@import '../../sass/utils/mixins';

.blog {
    background-color: getColor('post');
    overflow: hidden;
}

.wrraper {
    position: relative;

    @media screen and (min-width: $tablet) {
        display: grid;
        grid-template-columns: calc(400px - 32px) 1fr;
        padding: 0;
    }

    @media screen and (min-width: $desktop) {
        grid-template-columns: calc(690px - 28px) 1fr;
    }
}

.imageBox {
    display: block;
    height: 100%;
    width: 100vw;
    margin-left: calc((100vw - $mobile) / 2 - 20px);

    @media screen and (min-width: calc($mobile + 1px)) {
        margin-left: calc((100vw - $mobile) / 2 - 20px - (100vw - $mobile));
    }

    @media screen and (min-width: $tablet) {
        position: absolute;
        margin-left: 0;
        width: auto;
        top: 0;
        right: calc(-100vw + $tablet - 32px + (100vw - $tablet) / 2);
        left: calc(400px - 32px);
        bottom: 0;
    }

    @media screen and (min-width: $desktop) {
        right: calc(-100vw + $desktop - 28px + (100vw - $desktop) / 2);
        left: calc(690px - 28px);
    }
}

.image {
    height: 100%;
    object-fit: cover;
}

.info {
    padding: 48px 0 58px;
    
    @media screen and (min-width: $tablet) and (max-width: $toDesktop) {
        width: calc(400px - 32px);
        padding: 59px 0;
        order: -1;
    }

    @media screen and (min-width: $desktop) {
        width: calc(690px - 28px);
        padding: 80px 20px 80px 0;
        order: -1;
    }
}

.title {
    @include font(32px, 44px);

    @media screen and (min-width: $tablet) {
        @include font(40px, 54px);
    }
}

.subTitle {
    margin-bottom: 16px;
    display: block;
    @include font();

    @media screen and (min-width: $tablet) {
        @include font(18px, 25px);
    }
}

.text {
    margin-top: 24px;

    @media screen and (min-width: $tablet) {
        @include font(18px, 25px);
        width: 336px;
    }

    @media screen and (min-width: $desktop) {
        width: 642px;
    }
}

.buttonBlog {
    margin-top: 24px;
    border: solid 1px getColor('main');
    background-color: getColor('post');
    padding: 15px 31px;
    @include font();

    @media screen and (min-width: $tablet) {
        @include font(18px, 25px);
    }

    &:hover,
    &:focus {
        background-color: getColor('primary');
        border-color: getColor('post');
        color: getColor('post');
    }

    &:active {
        background-color: getColor('primary');
        border-color: getColor('post');
        color: getColor('post');
    }
}