@import './sass/utils/variables';
@import './sass/utils/functions';
@import './sass/utils/mixins';

.lh {
    @include font(40px, 48px);
    color: getColor('general');
}

.logo {
    width: 40px;
    height: 36px;
}